// colors
$green: #0B7D16;
$white: #fff;
$red: red;
$hoverYellow: #ffee5b;
$yellow: #F8D548;
$black: #000;
// ----------------------------------------

// media breakpoints
$mp1: 1199.98px;
$mp2: 1023.98px;
$mp3: 991.98px;
$mp4: 767.98px;
$mp5: 479.98px;
// ----------------------------------------